.loading-container {
  text-align: center;
}

h2 span {
  display: inline-block;
  animation: dot-animation 1.5s infinite;
  opacity: 0;
}

@keyframes dot-animation {
  0%,
  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.dot-1 {
  animation-delay: 0.2s;
}

.dot-2 {
  animation-delay: 0.4s;
}

.dot-3 {
  animation-delay: 0.6s;
}
